Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!Xcursor.theme: Amiga-Classic-Red
Xcursor.theme: El_Capitan_CursorsMODNew

!URxvt.font:	xft:GohuFont:size=14
!URxvt.font:	xft: PxPlus ToshibaSat 8x14:size=14
URxvt.font: xft: FantasqueSansMono Nerd Font Mono:size=13
!URxvt.font:	xft: PxPlus Tandy1K\\-II 200L\\-2y:size=12

URxvt.depth:                      32
URxvt.background:                 [100]#f2f2f2
!URxvt.background:                 [100]#e6e6e6
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
!URxvt*foreground:                 #45373C
URxvt*foreground:                 #073642
URxvt*saveLines:                  5000
URxvt*cursorColor:                #8f8a8d
!URxvt*fading:                     30
!URxvt*fadeColor:                  #E1D8D8

! Normal copy-paste keybindings without perls
URxvt.iso14755:                   false
URxvt.keysym.C-v:     eval:paste_clipboard
URxvt.keysym.C-c:     eval:selection_to_clipboard
!Xterm escape codes, word by word movement
URxvt.keysym.Control-Left:        \033[1;5D
URxvt.keysym.Shift-Control-Left:  \033[1;6D
URxvt.keysym.Control-Right:       \033[1;5C
URxvt.keysym.Shift-Control-Right: \033[1;6C
URxvt.keysym.Control-Up:          \033[1;5A
URxvt.keysym.Shift-Control-Up:    \033[1;6A
URxvt.keysym.Control-Down:        \033[1;5B
URxvt.keysym.Shift-Control-Down:  \033[1;6B

! custom
!! black
!*.color0: #20111B
!*.color8: #5E5252
!
!! red
!*.color1: #BE100E
!*.color9: #BE100E
!
!! green
!*.color2: #858162
!*.color10:#858162
!
!! yellow
!*.color3:  #D6881E
!*.color11: #D6881E
!
!! blue
!*.color4:  #426A79
!*.color12: #426A79
!
!! magenta
!*.color5:  #97522C
!*.color13: #97522C
!
!! cyan
!*.color6: #707375
!*.color14:#707375
!
!! white
!*.color7:  #968C83
!*.color15: #968C83


! solorized
!! black
!*.color0: #2c3240
!*.color8: #3b4356
!
!! red
!*.color1: #C50F1F
!*.color9: #af4b57
!
!! green
!*.color2: #92b279
!*.color10:#92b279
!
!! yellow
!*.color3:  #C19C00
!*.color11: #e5c078
!
!! blue
!*.color4:  #6e8fb3
!*.color12: #6e8fb3
!
!! magenta
!*.color5:  #881798
!*.color13: #a3799d
!
!! cyan
!*.color6: #76b3c5
!*.color14:#7daeac
!
!! white
!*.color7:  #CCCCCC
!*.color15: #e7eaf1

! solorized
!! black
!*.color0: #073642
!*.color8: #002b36
!
!! red
!*.color1: #dc322f
!*.color9: #cb4b16
!
!! green
!*.color2: #859900
!*.color10:#586e75
!
!! yellow
!*.color3:  #b58900
!*.color11: #657b83
!
!! blue
!*.color4:  #268bd2
!*.color12: #839496
!
!! magenta
!*.color5:  #d33682
!*.color13: #6c71c4
!
!! cyan
!*.color6: #2aa198
!*.color14:#93a1a1
!
!! white
!*.color7:  #cccccc
!*.color15: #e6e6e6

! Light
!*.background: #fafafa
!*.foreground: #383a42
!*.cursor: #f0f0f0

!*.color0: #383a42
!*.color1: #e45649
!*.color2: #50a14f
!*.color3: #c18401
!*.color4: #0184bc
!*.color5: #a626a4
!*.color6: #0997b3
!*.color7: #fafafa
!*.color8: #383a42
!*.color9: #e45649
!*.color10: #50a14f
!*.color11: #c18401
!*.color12: #0184bc
!*.color13: #a626a4
!*.color14: #0997b3
!*.color15: #fafafa

! dark
!*.background: #282c34
!*.foreground: #50F148
!
!*.color0: #282c34
!*.color1: #e06c75
!*.color2: #98c379
!*.color3: #e5c07b
!*.color4: #61afef
!*.color5: #c678dd
!*.color6: #56b6c2
!*.color7: #dcdfe4
!*.color8: #646e82
!*.color9: #e06c75
!*.color10: #98c379
!*.color11: #e5c07b
!*.color12: #61afef
!*.color13: #c678dd
!*.color14: #56b6c2
!*.color15: #dcdfe4

! special
!*.foreground:   #f0f0f0
!*.background:   #050505
!*.cursorColor:  #f0f0f0
!
!! black
!*.color0:       #050505
!*.color8:       #4d4d4d
!
!! red
!*.color1:       #AC8A8C
!*.color9:       #C49EA0
!
!! green
!*.color2:       #8AAC8B
!*.color10:      #9EC49F
!
!! yellow
!*.color3:       #ACA98A
!*.color11:      #C4C19E
!
!! blue
!*.color4:       #8F8AAC
!*.color12:      #A39EC4
!
!! magenta
!*.color5:       #AC8AAC
!*.color13:      #C49EC4
!
!! cyan
!*.color6:       #8AABAC
!*.color14:      #9EC3C4
!
!! white
!*.color7:       #f0f0f0
!*.color15:      #fafafa

! Mono
!!black
!*color0:    #343434
!*color8:    #079C91
!!red
!*color1:    #6F6F6F
!*color9:    #a6a6a6
!!green
!*color2:    #2AA198
!*color10:   #2AA198
!!yellow
!*color3:    #676767
!*color11:   #9aabb1
!!blue
!*color4:    #595959
!*color12:   #999999
!!magenta
!*color5:    #6D6D6D
!*color13:   #A5A5A5
!!cyan
!*color6:    #698b96
!*color14:   #A9A9A9
!!white
!*color7:    #a9b7bc
!*color15:   #CFCFCF

!berry
!*.background:#151a15
!*.foreground:#dfdedf
!*color0:#262c35
!*color1:#794765
!*color2:#84a250
!*color3:#d48237
!*color4:#4d7dad
!*color5:#4c5771
!*color6:#559191
!*color7:#b1c2c3
!*color8:#3d4a58
!*color9:#be9a96
!*color10:#6db135
!*color11:#d79e4c
!*color12:#8cb1c3
!*color13:#85a5a6
!*color14:#8eb0ad
!*color15:#f1f3f1

!gruv
!*.background:#151a15
!*.foreground:#dfdedf
!*color0:#fbf1c7
!*color1:#cc241d
!*color2:#98971a
!*color3:#d79921
!*color4:#458588
!*color5:#b16286
!*color6:#689d6a
!*color7:#7c6f64
!*color8:#928374
!*color9:#9d0006
!*color10:#79740e
!*color11:#b57614
!*color12:#076678
!*color13:#8f3f71
!*color14:#427b58
!*color15:#3c3836

! Mono
!black
*color0:    #292b2e
*color8:    #212026
!red
*color1:    #ce537a
*color9:    #827591
!green
*color2:    #2d9574
*color10:   #68727c
!yellow
*color3:    #7590db
*color11:   #AFAFD7
!blue
*color4:    #2aa1ae
*color12:   #a45bad
!magenta
*color5:    #373040
*color13:   #b2b2b2
!cyan
*color6:    #bc6ec5
*color14:   #b2b2b2
!white
*color7:    #AFAFD7
*color15:   #d5e7f6
